@font-face {
  font-family: 'KleistFrakturZier';
  src: url('./KleistFrakturZier.ttf') format('truetype');
}  

.mainTitleDesc {
  position: relative;
  top: -10px;
  left: 5px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 9px;
  color: white;
  opacity: .5;
}

.mainTitleFraktur {
  font-family: 'KleistFrakturZier';
  font-size: 52px;
  color: white;
  padding-bottom: 10px;
}