@font-face {
  font-family: 'KleistFrakturZier';
  src: url('./KleistFrakturZier.ttf') format('truetype');
}  

.mainTitle {
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 10px;
  color: white;
}

.mainTitleFraktur {
  font-family: 'KleistFrakturZier';
  font-size: 52px;
  color: white;
}