#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
  cursor: grab;
  .image {
    width: 33vmin;
    height: 55vmin;
    object-fit: cover;
    object-position: 100% center;
  }
}