
.galleryMobile__container{
    position: relative;
    z-index: 1;
    width: 100vw;
    padding: 60px 0 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1px;
    font-weight: 300;
    letter-spacing: 2px;

    .galleryMobile__socialsSpacer {
        width: 100vw;
        height: 45px;
    }

    .galleryMobile__imageContainer {

        .galleryMobile__imageLoading {
            width: calc(100vw - 30px);
            height: 100vw;
            margin-top: 15px;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(255,255,255,.2);
        }

        .galleryMobile__imageError {
            font-size: 32px;
            color: firebrick;
            width: calc(100vw - 30px);
            height: 100vw;
            margin-top: 15px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(255,255,255,.1);
            border: 1px solid rgba(255,255,255,.2);
            .galleryMobile__textError{
                color: white;
                margin-top: 10px;
                width: 150px;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 5px;
                opacity: .75;
            }
        }

        .galleryMobile__image {
            width: calc(100vw - 30px);
            height: 100vw;
            margin-top: 15px;
            opacity: 1;
            object-fit: cover;
            object-position: 100% center;
            cursor: pointer;
            transition: height .6s ease, opacity .6s ease, margin .6s ease;
        }

        .galleryMobile__imageSensible {
            margin: 0;
            height: 0;
            opacity: 0;
            transition: height .6s ease, opacity .6s ease, margin .6s ease;

        }
    }
}